<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Security-Policy" content="script-src 'self' https://cdn.jsdelivr.net; object-src 'none';">
    <title>Sign Up</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="../style/login.css">
</head>
<body>
    <form id="loginForm">
        <input type="hidden" value="ngo" id="typeof"> 
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>

        <input type="submit" value="Login" id="submitbtn">
        <span>Do not have an account?? <a href="/">Signup</a></span>
        <span>Forget password? <a href="/forgetpassword">Forget password</a></span>
        
       

    </form>

  
   
   
  
   

</body>
<script src='../script/login.js'></script>
</html>
